<h1>Crear producto</h1>

<form action="/products" method="POST">
    <label for="title">Título:</label>
    <input type="text" name="title" required /><br />

    <label for="description">Descripción:</label>
    <textarea name="description" required></textarea><br />

    <label for="price">Precio:</label>
    <input type="number" name="price" step="0.01" required /><br />

    <label for="code">Código:</label>
    <input type="text" name="code" required /><br />

    <label for="stock">Stock:</label>
    <input type="number" name="stock" required /><br />

    <label for="category">Categoría:</label>
    <input type="text" name="category" /><br />

    <label for="thumbnails">Thumbnails (URLs separadas por coma):</label>
    <input type="text" name="thumbnails" /><br />

    <button type="submit">Crear producto</button>
</form>